In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import os
import numpy as np
import datetime
import glob
from pathlib import Path
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

DOWNLOAD_DIR = 'D:\\scientific_computing'

In [2]:
import os
import datetime
import glob
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

This will import the data, you have to run it to be able to solve the homework.

In [3]:
def read_single_csv_entso_e(file):
    return pd.read_csv(file, sep='\t', encoding='utf-16', parse_dates=["DateTime"])


def load_complete_entso_e_data(directory):
    pattern = Path(directory) / '*.csv'
    files = glob.glob(str(pattern))

    if not files:
        raise ValueError(f"No files found when searching in {pattern}, wrong directory?")
    
    print(f'Concatenating {len(files)} csv files...')

    each_csv_file = [read_single_csv_entso_e(file) for file in files]
    data = pd.concat(each_csv_file, ignore_index=True)

    data = data.sort_values(by=["AreaName", "DateTime"])
    data = data.set_index("DateTime")

    print("Loading done.")

    return data


power_demand = load_complete_entso_e_data(DOWNLOAD_DIR)

Concatenating 68 csv files...
Loading done.

# Exercise 1 - Calculate the relation of Wednesday average consumption to Sunday average consumption for selected countries

In this exercise, calculate the relation of Wednesday average consumption to Sunday average consumption for the following countries: Austria, Germany, United Kingdom, Spain, Sweden, Italy, Croatia.

(1) First create a variable that contains only power consumption data for these countries. The pandas command ```isin()``` may be very helpful here. Reduce the data to only consider the period 2015-01-01 until 2019-12-31. The lecture slides may contain relevant code here.

(2) Then, group the data by weekday and country (i.e. AreaName). Use ```groupby``` and ```mean```for that purpose. 

(3) Calculate for all countries the proportion of Wednesday (day 2) and Sunday (day 6) by dividing the two values.

(4) For which country, this relative value is highest? What could this indicate?

In [83]:
power_demand["Year"].unique()

array([2014, 2015, 2016, 2017, 2018, 2019, 2020], dtype=int64)

In [36]:
countries=power_demand["AreaName"].isin(["Austria", "Germany", "United Kingdom", "Spain", "Sweden", "Italy", "Croatia"])
selected_time=power_demand["Year"].isin([2015,2016,2017,2018,2019])

In [ ]:
power_demand_selected=power_demand[countries & selected_time]
power_demand_selected

In [14]:


power_demand_selected_at=power_demand_selected[power_demand_selected["AreaName"]=="Austria"]
power_demand_selected_at

,Year,Month,Day,ResolutionCode,areacode,AreaTypeCode,AreaName,MapCode,TotalLoadValue,UpdateTime
DateTime,,,,,,,,,,
2015-01-01 00:00:00,2015,1,1,PT15M,10YAT-APG------L,CTY,Austria,AT,6017.2,2017-09-14 04:00:15
2015-01-01 00:15:00,2015,1,1,PT15M,10YAT-APG------L,CTY,Austria,AT,5966.8,2017-09-14 04:00:15
2015-01-01 00:30:00,2015,1,1,PT15M,10YAT-APG------L,CTY,Austria,AT,5935.6,2017-09-14 04:00:15
2015-01-01 00:45:00,2015,1,1,PT15M,10YAT-APG------L,CTY,Austria,AT,5934.4,2017-09-14 04:00:15
2015-01-01 01:00:00,2015,1,1,PT15M,10YAT-APG------L,CTY,Austria,AT,5750.8,2017-09-14 04:00:15
...,...,...,...,...,...,...,...,...,...,...
2019-12-31 22:45:00,2019,12,31,PT15M,10YAT-APG------L,CTY,Austria,AT,6088.4,2020-02-10 10:46:17
2019-12-31 23:00:00,2019,12,31,PT15M,10YAT-APG------L,CTY,Austria,AT,6058.8,2020-04-01 04:16:28
2019-12-31 23:15:00,2019,12,31,PT15M,10YAT-APG------L,CTY,Austria,AT,6000.8,2020-04-01 04:16:28
2019-12-31 23:30:00,2019,12,31,PT15M,10YAT-APG------L,CTY,Austria,AT,5936.4,2020-04-01 04:16:28
2019-12-31 23:45:00,2019,12,31,PT15M,10YAT-APG------L,CTY,Austria,AT,5871.2,2020-04-01 04:16:28

In [16]:
power_demand_grouped_at = power_demand_selected_at.groupby(power_demand_selected_at.index.weekday).mean()
power_demand_grouped_at

                 Year     Month        Day  TotalLoadValue
DateTime
0         2017.003831  6.521073  15.701149     7400.972206
1         2017.007663  6.505747  15.770115     7542.120003
2         2017.000000  6.515385  15.776923     7597.097115
3         2016.992337  6.524904  15.785441     7531.484722
4         2016.996169  6.517241  15.620690     7370.000862
5         2016.996169  6.544061  15.800766     6448.911574
6         2017.000000  6.536398  15.639847     5982.295785

In [20]:
power_demand_grouped_at["TotalLoadValue"][2]/power_demand_grouped_at["TotalLoadValue"][6]

1.2699300382093988

In [19]:
power_demand_grouped_at.loc[2][3]/power_demand_grouped_at.loc[2]

7597.097115384564

In [42]:
def wednesday_sunday_relation(*countries):
    ratio_list=[]
    country_ratio={}
    
    for country in countries:
        power_demand_selected_c=power_demand_selected[power_demand_selected["AreaName"]==country]
        power_demand_grouped_c = power_demand_selected_c.groupby(power_demand_selected_c.index.weekday).mean()
        ratio=power_demand_grouped_c.loc[2][3]/power_demand_grouped_c.loc[6][3]
        country_ratio[ratio]=country
        ratio_list.append(ratio)
    print(f"wednesday- sunday- ratio: {country_ratio}")
    max_value=max(ratio_list)
    print(f"{country_ratio[max_value]} has the highest Wednesday- Sunday ratio. The value is: {max_value}")
    return max_value

In [43]:
wednesday_sunday_relation("Austria","Germany", "Spain", "Sweden","Italy", "United Kingdom", "Croatia")

wednesday- sunday- ratio: {1.2699300382093988: 'Austria', 1.2984684924675223: 'Germany', 1.2112472535692624: 'Spain', 1.117264750947256: 'Sweden', 1.3762369971752841: 'Italy', 1.1332241058074153: 'United Kingdom', 1.1498820059246304: 'Croatia'}
Italy has the highest Wednesday- Sunday ratio. The value is: 1.3762369971752841

1.3762369971752841

# Exercise 2 - Calculate the monthly average consumption as deviation from mean consumption

For the same countries as in the above dataset, calculate the monthly mean consumption as deviation from the mean of consumption over the whole time. Plot the curves for all countries.

(1) First create a variable that contains only power consumption data for the selected countries. The pandas command ```isin()``` may be very helpful here. If you did Exercise 1, you can use the same dataset.

(2) Then, aggregate the data by country (i.e. AreaName) and month. Use ```groupby``` and ```mean``` for that purpose. Select the column ```TotalLoadValue``` from the result.

(3)  Aggregate the data by country (i..e AreaName) only, i.e. calculate the average consumption by country using ```groupby``` and ```mean```. Select the column ```TotalLoadValue``` from the result.

(4) Divide the result of (2) by (3) and observe how well broadcasting works here.

(5) Use the command ```unstack``` on the result. How does the table look now? Plot the result. If your resulting, unstacked dataframe is called ```result```, you may use ```result.plot()``` to get a nice plot.

(6) How would you explain the difference in the curve between Croatia and Sweden?

# Exercise 3 - calculate the hourly average consumption as deviation from mean consumption

Do the same as in exercise 2, but now for the hourly average consumption. I.e. how much is consumed on each of the 24 hours of a day?

Which country has the lowest, which the highest variability? What may be the reason for it?

# Exercise 4 - Calculate the average load per capita

Below you find a table with population data for our selected countries. You should use it to calculate per capita consumption.

(1) Calculate the average load in all countries using ```groupby``` and ```mean``` and select the column ```TotalLoadValue``` from the result.

(2) Divide the result by the ```Population``` column of the dataframe ```population```. Observe, how broadcasting helps here nicely.

(3) Plot the result. Which country has the highest load, which the lowest? What may be the reason? In which unit is this value? How could we convert it to MWh per year?

In [ ]:
population = pd.DataFrame({'Country': ["Austria", "Croatia", "Germany", "Italy", "Spain", "Sweden", "United Kingdom"],
             'Population': [8840521, 4087843, 82905782, 60421760, 46796540, 10175214, 66460344]})

population.index = population["Country"]

population